/* Empty. Add your own CSS if you like */
h3{
	color: rgba(169,3,41,1);
}
h2{
	color: rgba(169,3,41,1);
}
h4{
	color: rgba(0,0,0,.7);
}
}
h22{
	color: rgba(1,1,1,1);
	font-size: 22dpi;
}
i.ion-ios-snowy{
	color: rgba(1,1,1,.7);
	font-size: x-large;
}